
.chart{
    margin: 20px;
    width: 40.5%;
    padding: 0px 40px 40px 40px;
    /* display: flex; */
    -webkit-box-shadow: 0px 10px 15px -10px  rgba(0,0,0,0); 
    box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
    float: right;
    /* display: block;  */
}
.chartTitle{
    margin-bottom: 20px;
    color: gray;
    font-size: 20px;
    font-weight: 600;

}